<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>登录后控制PPT</title>
<link rel="stylesheet" type="text/css" href="app/view/css/login.css">
</head>
<body>
	<div id="all">
		<h1 class="title">登录后控制PPT</h1>
		<form method="post" id="loginForm" action="/login/userlogin">
			<dl class="inputDiv">
				<dt>用户名</dt>
				<dd>
					<input type="text" name="userName">
				</dd>
			</dl>
			<dl class="inputDiv">
				<dt>密码</dt>
				<dd>
					<input type="password" name="pwd">
				</dd>
			</dl>
			<div class="center">
				<input type="submit" value="登录">
			</div>
		</form>
	</div>
</body>
</html>