// JavaScript
script(src='js/lib/xdate.js')
script(src='jquery/jquery.min.js')
script(src='jquery/jquery.json.js')
script(src='jquery/jquery.cookie.js')
script(src='jquery/jquery.mask.js')
script(src='jquery/jquery.form.js')
script(src='jquery/jquery.validate.js')
script(src='jquery/jquery.validate.jason.js')
script(src='bootstrap/js/bootstrap.min.js')
script(src='js/bootstrap/bootstrap-datepicker.js')
script(src='js/bootstrap/bootstrap-inputmask.js')
script(src='js/bootstrap/bootstrap-tour.js')
script(src='js/jason-label.js')
script(src='js/jason-loading.js')
script(src='js/jason-datepicker.js')
script(src='js/jason-radio.js')
script(src='js/jason-search.js')
script(src='js/jason-msg.js')
script(src='js/jason-base.js')
script(src='js/jason-checkbox.js')
script(src='js/jason-store.js')
script(src='js/jason-renderer.js')
script(src='js/jason-alert.js')
script(src='js/jason-popover.js')
script(src='js/jason-data.js')
script(src='js/jason-nav.js')
script(src='js/jason-dom.js')
script(src='js/jason-button.js')
script(src='js/jason-combobox.js')
script(src='js/jason-inputmask.js')
script(src='js/jason-tooltip.js')
script(src='js/jason-timer.js')
script(src='js/jason-const.js')
// if lt IE 9
	script(src='js/ie.js')