block statusTitle
	label.left-nav-label 记录状态
	
ul(data-type='status',class='nav nav-list nav-left-choose active-switch')
	li.selected(data-id='1')
		a(href='#') 有效
	li(data-id='0')
		a(href='#') 无效
	li(data-id='')
		a(href='#') 所有状态
	li.divider