doctype 5
html
	include includes/head
	body
		include includes/navbar
		header.jumbotron.subhead
			.container
				h1	Getting started
				.lead ExtJs MVC 简单介绍
		include includes/js
		script
			$('li#index').addClass('active')